<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
<% end %>

<h1><%= @artist.name %></h1>

<p><%= image_tag @artist.image, width: 400, height: 400 %></p>

<p>
  <strong>Biography:</strong>
  <%= @artist.biography %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @artist.birthday %>
</p>

<p>
  <strong>Country:</strong>
  <%= @artist.country %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
