<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
<% end %>

<p>
	<%= image_tag @album.image, width: 350, height: 350 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Release year:</strong>
  <%= @album.release_year %>
</p>

<%= link_to 'Edit', edit_album_path(@album), class: 'btn btn-default' %> |
<%= link_to 'Back', @album.band, class: 'btn btn-default' %>
