<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<h1>Bands</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td><%= link_to band.name, band %></td>
        <td><%= link_to 'Edit', edit_band_path(band), class: 'btn btn-sm btn-default' %></td>
        <td><%= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' },
        class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Band', new_band_path, class: 'btn btn-default' %>
