<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
<% end %>

<h1><%= @band.name %></h1>

<p>
	<%= image_tag @band.image, width: 680, height: 420 %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @band.biography %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @band.birthday %>
</p>

<p>
  <strong>Country:</strong>
  <%= @band.country %>
</p>

<%= render 'list_band_albums' %>
<%= render 'list_band_artists' %>
<%= render 'list_band_genres' %>

<%= link_to 'Edit', edit_band_path(@band), class: 'btn btn-default' %> |
<%= link_to 'Back', bands_path, class: 'btn btn-default' %>
